// Define variables for your color scheme

// General :
$white: #FFFFFF;
$black: #08090A;
$absolute-black: #000000;
$light-green: #67c57b;
$dark-green: #2b5740;
$red: #FF0000;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-coral: #fe8564;

// Typo
$green-typo: #222823;
$gray-typo: #686963;

// Aplats de couleurs
$yellow: #FFCC6D;
$greenish: #00a295 ;
$blue: #4fd4c2;
$gray-bk: #F5f6fc;
$green-bk: #cce7c3;

// CTA
$coral-CTA: #FE7763;
$green-CTA: #224c36;

// Gradient button
$gradient: linear-gradient(270deg, #fe7763 0%, #fcb045 50%, #fe7763 100%);











