// #chatrooms-show {
// }

.chat-wrapper {
  // background-color: $coral-CTA;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1580335389496-ec9a04132ee6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1190&q=80');
  padding-top: 100px;
  background-size: cover;
  background-repeat: no-repeat;
}

.chat-participants {
  position: absolute;
  top: 10px;
  right: 50px;
  img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin-right: -15px;
    border: solid white 2px;
  }

}

.chatroom-container {
  width: 1200px;
  margin: auto;
  position: relative;
  h1 {
    color: white;
  }
  h2 {
    color: white;
  }
   p {
    color: black;
  }
}

.message-card {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
  padding: 10px;
  height: 57vh;
  overflow-y: scroll;
}

.message-action {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
  margin-top: 15px;
  padding: 20px;
}

.message-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
  h3 {
    color: grey;
    font-family: Arial;
  }
}

i.author {
  margin: 13px;
}

.message-content {
    border-radius: 6px;
    border: solid #80808061 1px;
    padding: 8px;
    margin: 10px;
}

#new-message .nav_button {
  margin-right: 20px;
  margin-left: 20px;
}

form#new_message {
    display: flex;
    align-items: center;
  }
.form-group.text.optional.message_content {
    flex-grow: 1;
}

input.nav_button {
    margin-top: inherit;
    margin-left: 15px;
    margin-right: -5px;
}

.form-inline .form-group {
    // display: flex;
    // flex: 0 0 auto;
    // flex-flow: row wrap;
    // align-items: center;
    // margin-bottom: 0;
    flex-grow: 1;
}
