.venues-list {
  width: 30%;
  z-index: 3;
  position: absolute;
  top: 90px;
  right: 10px;
  height: calc(100vh - 90px);
  overflow-y: scroll;
  padding: 10px;
}


// .venues-list {
//     width: 30%;
//     z-index: 1;
//     position: absolute;
//     top: 0px;
//     right: 10px;
//     height: 100vh;
//     overflow-y: scroll;
//     padding: 10px;
// }

// .blur {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 2;
//   height: 100vh;
//   width: 100vw;
//   box-shadow: inset -200px 30px 300px 50px #d4d4d4ab;
// }

.icon-sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90px;
  position: fixed;
  z-index: 3;
  top: 0;
  padding-bottom: 10px;
  // left: 20px;
  background-color: #111;
  overflow-x: hidden;
  background-image: linear-gradient(to right, $light-coral 0%, $coral-CTA 51%, $coral-CTA 100%);
  color: $white;
  border: $red;
  border: none;
  overflow: hidden;
  // border-radius: 6px;

}

.icon-sidebar a {
  // display: flex;
  // align-items: align-items;
  // justify-content: center;
  // display: block;
  // text-align: center;
  // padding: 0 10px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-sidebar a:hover {
  background-color: $white; /* Add a hover color */
  color: $coral-CTA;
  p {
    color: $coral-CTA;
    font: Open Sans;
  }
  // border-radius: 30px;
}

