// Specific CSS for your home-page

#pages-home {
  background: #f8edeb;
}

p {
  color: $white;
}

.bloc1 {
  height: 500px;
  background: #f8edeb;
  background-position: center;
  vertical-align: middle;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  img {
    width: 500px;
    height: 400px;
    object-fit: cover;
  }
  div {
    background: $coral-CTA;
    padding: 15px;
    width: 500px;
    height: 300px;
    margin-left: -60px;
    h2 {
      margin: 0;
      color: $white;
      display: block;
      justify-content: center;
      position: relative;
      margin-bottom: 15px;
      &:after {
        content: "";
        position: absolute;
        height: 2px;
        width: 60px;
        background: $white;
        left: 0;
        bottom: 0;
      }
    }
  }
}


h1.py-3.text-center {
    margin-bottom: -30px;
}

.validate-trip {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 108px 0 0 0;
}



.bloc2 {
  height: 500px;
  background: #f8edeb;
  background-position: center;
  vertical-align: middle;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 70px 0 150px;
  img {
    width: 400px;
    height: 500px;
    object-fit: cover;
  }
  img:last-child {
  width: 500px;
  height: 400px;
  object-fit: cover;
  margin-top: 200px;
  margin-left: -40px;
  }
  div {
    background: $coral-CTA;
    padding: 15px;
    width: 400px;
//    height: 200px;
    margin-right: -60px;
    z-index: 1;
    h2 {
      margin: 0;
      color: $white;
      display: block;
      justify-content: center;
      position: relative;
      margin-bottom: 15px;
      &:after {
        content: "";
        position: absolute;
        height: 2px;
        width: 80px;
        background: $white;
        left: 0;
        bottom: 0;
      }
    }
  }
}

// .row-home {
//     display: flex;
//     flex-wrap: wrap;
//     margin-right: -15px;
//     margin-left: -15px;
//     padding-top: 130px;
// }
