body {
  background-color: white;
}

.p-4 {
  padding: 1.5rem !important;
  margin-top: 80px;
}

.profile-wrapper {
  margin-top: 12vh;
  padding-left: 70px;
  min-height: 88vh;
  p {
    color: black;
  }
  h5 {
    color: black;
  }
}

.profile-avatar {
  display: flex;
}

.profile-card {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
  border-radius: 6px;
  .profile-card-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: auto;
    position: absolute;
    top: -70px;
    right: 130px;
  }
  .profile-details {
    padding-top: 80px;
    padding-left: 20px;
  }
  .profile-action {
    bottom: 0px;
  }
  .profile-name div h6 :after {
    content: "";
    position: absolute;
    height: 2px;
    width: 60px;
    background: black;
    left: 0;
    bottom: 0;
  }
}

.interests {
  text-align: center;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
  display: inline;
  a {
  padding: 10px;
  }
}

.socials-card {
  height: 100%;
  width: 70px;
  position: fixed;
  top: 0;
  background-color: #111;
  overflow-x: hidden;
  background-image: linear-gradient(to right, #fe8564 0%, #FE7763 51%, #FE7763 100%);
  color: #FFFFFF;
  border: #FF0000;
  border: none;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.socials-card a {
  text-align: center;
  padding: 30px;
  padding-left: 17px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
  display: table-caption;
}

.socials-card a:hover {
  background-color: $white; /* Add a hover color */
  color: $coral-CTA;
}

.bubble-chatroom {
  height: 60px;
  width: 60px;
  position: absolute;
  right: 20px;
  top: -30px;
  border-radius: 50%;
  background-color: #FE7763;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    font-size: 32px;
    color: white;
  }
}

.roadtrips-card {
  border-radius: 6px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
  position: relative;
  margin-top: 25px;
  margin-bottom: 50px;
  display: flex;
  h2 {
    color: $coral-CTA;
  }
}

.trip-date {
  padding-bottom: 15px;
}

.my-trip-card {
  flex-grow: 1;
}

.buddies {
  align-self: flex-end;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
.container_profile {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
.container_profile {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
.container_profile {
    width: 300px;
  }
}
