<div class="footer">
  <div class="footer-profile">
    <li>
      <ul>Aide</ul>
      <ul>Contact</ul>
    </li>
  </div>

  <div class=footer-description>
    Tous les must-do à <span style="color: #FFFFFF"><strong #>100 km</strong></span> autour de chez vous ⛰⛱⛺️
  </div>

  <div class="footer-links">
    <div class footer-right-txt>
<!--      <i class="fas fa-heart"></i> -->
    </div>
      <a href="https://www.instagram.com//"><i class="fab fa-instagram"></i></a>
  </div>
</div>


<!-- <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div> -->

