<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/seacircus/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/seacircusbali"><i class="fab fa-facebook"></i></a>
    <a href="linkedin.com"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Blablabla <i class="fas fa-heart"></i>
  </div>
</div>
