.nav_button {
  background-image: linear-gradient(to right, $light-coral 0%, $coral-CTA 51%, $coral-CTA 100%);
  color: $white;
  border: $red;
  border-radius: 6px;
  border: none;
  padding: 10px;
  margin-top: 15px;
  margin-right: 40px;
  transition: background-image 5s;
  // box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.03);
  &:hover {
    background-image: linear-gradient(to right, $coral-CTA 0%, $coral-CTA 51%, $light-coral 100%);
    color: $white;
  }
}

.validate_trip_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: $white;
  background-image: linear-gradient(to right, $light-coral 0%, $coral-CTA 51%, $coral-CTA 100%);
  color: $white;
  border: $red;
  border-radius: 6px;
  border: none;
  padding: 10px;
  margin-bottom: 15px;
  margin-right: 40px;
  transition: background-image 5s;
  // box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.03);
  &:hover {
    background-image: linear-gradient(to right, $coral-CTA 0%, $coral-CTA 51%, $light-coral 100%);
    color: $white;
  }
}

.validate-trip-button {
  background-image: linear-gradient(to right, $light-coral 0%, $coral-CTA 51%, $coral-CTA 100%);
  color: $white;
  border: $red;
  border-radius: 6px;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  transition: background-image 5s;
  // box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.03);
  &:hover {
    background-image: linear-gradient(to right, $coral-CTA 0%, $coral-CTA 51%, $light-coral 100%);
    color: $white;
  }
}



.save-trip-btn {
  z-index: 2;
  height: 60px;
  color: $white;
  &:hover {
    color: $white;
  }
}




.add-venue {
  background-image: linear-gradient(to right, $light-coral 0%, $coral-CTA 51%, $coral-CTA 100%);
  color: $white;
  border: $red;
  border-radius: 6px;
  border: none;
  height: 35px;
  width: 90px;
  // margin-top: 15px;
  // margin-right: 40px;
  transition: background-image 5s;
  // box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.03);
  &:hover {
    background-image: linear-gradient(to right, $coral-CTA 0%, $coral-CTA 51%, $light-coral 100%);
    // background-image: linear-gradient(to right, $coral-CTA 0%, $coral-CTA 51%, $light-coral 100%);
    color: $white;
  }
}


.remove-venue{
  background: $light-coral;
  opacity: 0.5;
  color: $white;
  border-radius: 6px;
  border: 0.5px;
  border-style: solid;
  border-color: $coral-CTA;
  height: 35px;
  width : 90px;
  // margin-top: 15px;
  // margin-right: 40px;
  transition: background-image 6s;
  // box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.03);
  &:hover {
    background-image: linear-gradient(to right, $light-coral 0%, $coral-CTA 51%, $coral-CTA 100%);
    color: $white;

  }
}


.see-more-info {
  background: $white;
  color: $coral-CTA;
  border-radius: 6px;
  border: 0.5px solid $coral-CTA ;
  height: 35px;
  width: 90px;
  margin-top: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  // margin-top: 15px;
  // margin-right: 40px;
  transition: background-image 5s;
  // box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.03);
  &:hover {
    background-image: linear-gradient(to right, $coral-CTA 0%, $coral-CTA 51%, $light-coral 100%);
    // background-image: linear-gradient(to right, $coral-CTA 0%, $coral-CTA 51%, $light-coral 100%);
    color: $white;
  }

}



.filter-btn {
  display: flex;
  text-align: center;
  height: 12.5vh;
  padding: 0;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  i {
    font-size: 35px;
    padding: 0;
    z-index: 10;
    &:hover {
      color: $coral-CTA;
    }
  }

  p {
    font-size: 12px;
    padding: 10px 0;
    z-index: 10;
    margin: 0;
    &:hover {
      color: $coral-CTA;
    }
  }
}







