.carousel {
  background-size: cover;
  background-position: center;
  height: 50vh;
  margin-top: 10px;
  margin-bottom: 10px;


   > .container {
     margin-top: 150px;
   }
   position: relative;
 }

.carousel-inner {
  img {
    position: relative;
    top: -200px;
    width: 100%;
  }
  height: 50vh;
  border-radius: 8px;
}
