.select2-selection__choice {
  padding: 0 10px 0 0 !important;
  span {
    margin: 0 10px 0 0;
  }
}

.venue-card {
  background-color: white;
  // border: 1px solid grey;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .4);
  margin-bottom: 25px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  height: 200px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  .venue-action {
    position: absolute;
    left: 15px;
    bottom: 12px;
  }
  img {
    width: 45%;
    height: 100%;
    object-fit: cover;
  }
  p {
    font-size: 12px;
  }
  h2 {
    font-size: 18px;
  }
  .venue-details {
    padding: 15px;
  }
}

  .roadtrips-card {
  margin-top: 70px;
}

.new-trips-card{

}

.old-trips-card {


}

.card-highlight {
  background-color: blue;
}

.map-window {
    position: absolute;
    // top: 100px;
    right: 70px;
    bottom: -45px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 15px;
    // padding: 15px;
    // border: solid 1px black;
    // padding: 30px;
    height: 300px;
    width: 300px;
    overflow: hidden;

    #map {
      margin-bottom: 0;
    }
}

.card-map {
  // padding: 20px;
  // border-radius: 5px;
  // width: 360px;
  // display: inline;
  height: 100%;
}
