.venue-card {
  background-color: white;
  border: 1px solid grey;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, .2);
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  height: 170px;
  position: relative;
  .venue-action {
    position: absolute;
    left: 15px;
    bottom: 5px;
  }
  img {
    width: 45%;
    height: 100%;
    object-fit: cover;
  }
  p {
    font-size: 12px;
  }
  h2 {
    font-size: 18px;
  }
  .venue-details {
    padding: 15px;
  }
}
