  .footer {
    background-image: linear-gradient(to right, $light-coral 0%, $coral-CTA 51%, $coral-CTA 100%);
  color: $white;
    // background: $greenish ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    width: 100%;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
  }

  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: $white;
    opacity: 1;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    padding: 0px 10px;
  }
  .footer-links a:hover {
      // color: $yellow;
      color: $coral-CTA;

      transition: all 0.1s linear;
      &:hover {
        color: $yellow;
      }
    }



  // .footer .fa-heart {
  //   color: $coral-CTA;
  // }

  .footer-profile {
    color: $white;
    list-style-type: none;
    a {
      color: $white;
      font-size: 16px;
      transition: all 0.1s linear;
      &:hover {
        color: $yellow;
      }
    }
  }


.footer-description {
  color: $white;
  font-size: 25px;
}
