  .footer {
    background: $dark-green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 250px;
    width: 100%;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
  }

  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: $yellow;
    opacity: 1;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
      color: $yellow;
      transition: all 0.1s linear;
      &:hover {
        color: $coral-CTA;
      }
    }



  // .footer .fa-heart {
  //   color: $coral-CTA;
  // }

  .footer-profile {
    color: $yellow;
    list-style-type: none;
    a {
      color: $yellow;
      transition: all 0.1s linear;
      &:hover {
        color: $coral-CTA;
      }
    }
  }


.footer-description {
  color: $yellow;
}
