.map-container {
  position: relative;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: $coral-CTA;
}

.trip-map {
  height: 100vh;
  width: 50vw;
  position: relative;
}

.marker-highlight {
  background-color: blue;
}
