.map-container {
  position: relative;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.trip-container {
  // height: 100%;
  // width: 50%;
  position: fixed;
  z-index: 3;
  top: 0;
}
