.navbar-lewagon {
  justify-content: space-between;
  background: white;
  // height: 12vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: $white;
}

#trips-custom .navbar-lewagon {
  background: transparent;
  width: 100%;
  z-index: 3;
  position: absolute;
}
