.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: absolute;
  z-index: 3;
  width: 100%;
  // height: 12vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
  height: 70px;
  margin-top: 12px;
  margin-left: 35px;
}

.logo-tagline {
  color: white;
}

.nav-link {
  color: $white;
}

#trips-custom .navbar-lewagon {
  background: transparent;
  width: 100%;
  z-index: 3;
  position: absolute;
}
