.trip_radius {

}

.range-input-div {
  position: relative;
  margin-bottom: 100px;
}

.range-output {
  position: absolute;
  left: 100%;
  background: $white;
  color: $coral-CTA;
  border: solid 0.5px $coral-CTA ;
  height: 60px;
  width: 60px;
  font-weight: bold;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  transform: translateX(-30px);
}
